# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


prompt.md
prompt2.md
requirements.md


# output files

logs/
output/
keys/
certs/
build/
paper/


# basics

demo.cpp


Precila.pdf
thesis_update_plan.md
research_paper_plan.md